div.news{
    background-color:#43b85c; 
    color: black;
    width:100%;
    height:110px;
    margin-top:-22px;
    border-bottom: solid black;
}
div.news h1{
    position: relative;
    margin-left:600px;
    top:35px;
    text-transform: uppercase;
}
img.news_1{
    margin:60px auto auto 690px; 
    border-radius: 20px 20px 20px 20px;
    height:500px;
    border:solid black;
    /* display:inline; */
}
img.news_1:hover{
    transition:0.5s;
}
div.news_1 h1{
    /* display:inline; */
    position:relative;
    top:-400px;
    margin-left: 5%;

}
div.news_1 p{
    position:relative;
    top:-400px;
    margin-left:5%;
}
div.news_1 h5{
    position:relative;
    top:-438px;
    margin-left:6.5%;
}
ul.news_1{
    position:relative;
    top:-400px;
    margin-left:3%;
    font-family: sans-serif;
}
ul.news_1 li{
    font-family: sans-serif;
    margin-top: 10px;
}
div.quote_1 pre{
    position:relative;
    margin-left:18%;
    top:-249px;
    color:#43b85c;
    font-size:20px;
}
div.quote_1 h4{
    position:relative;
    margin-left: 36%;
    top:-249px;
}
img.news_2{
    margin:-92px auto 0 690px; 
    border-radius: 20px 20px 20px 20px;
    height:500px;
    border:solid black;
}
div.news_2 h1{
    position:relative;
    top:-400px;
    margin-left: 5%;
  
}
div.news_2 p{
    position:relative;
    top:-400px;
    margin-left:5%;
}
div.news_2 h5{
    position:relative;
    top:-438px;
    margin-left:6.5%;
}
ul.news_2{
    position:relative;
    top:-400px;
    margin-left:3%;
    font-family: sans-serif;
}
ul.news_2 li{
    font-family: sans-serif;
    margin-top: 10px;
}
div.quote_2 pre{
    position:relative;
    margin-left:18%;
    top:-325px;
    color:#43b85c;
    font-size:20px;
}
div.quote_2 h4{
    position:relative;
    margin-left: 40%;
    top:-369px;
}
div.quote_2{
    height:400px;
}
img.news_3{
    margin:-92px auto 0 690px; 
    border-radius: 20px 20px 20px 20px;
    height:470px;
    border:solid black;
}
div.news_3 h1{
    position:relative;
    top:-400px;
    margin-left: 5%;
}
div.news_3 p.ch{
    position:relative;
    top:-410px;
    margin-left:5%;
    font-size:19px;
    color:grey;
}
div.news_3 p{
    position:relative;
    top:-410px;
    margin-left:5%;
}
div.news_3 h5{
    position:relative;
    top:-448px;
    margin-left:6.5%;
}
ul.news_3{
    position:relative;
    top:-400px;
    margin-left:3%;
    font-family: sans-serif;
}
ul.news_3 li{
    font-family: sans-serif;
    margin-top: 10px;
}
div.quote_3 pre{
    position:relative;
    margin-left:18%;
    top:-325px;
    color:#43b85c;
    font-size:20px;
}
div.quote_3 h4{
    position:relative;
    margin-left: 47%;
    top:-369px;
}
div.quote_3{
    height:100px;
}
img.news_4{
    margin:0px auto 0 690px; 
    border-radius: 20px 20px 20px 20px;
    height:500px;
    border:solid black;
}
div.news_4 h1{
    position:relative;
    top:-480px;
    margin-left: 5%;
}
div.news_4 p{
    position:relative;
    top:-480px;
    margin-left:5%;
}
div.news_4 h5{
    position:relative;
    top:-518px;
    margin-left:6.5%;
}
ul.news_4{
    position:relative;
    top:-470px;
    margin-left:3%;
    font-family: sans-serif;
}
ul.news_4 li{
    font-family: sans-serif;
    margin-top: 10px;
}
div.quote_4 pre.q{
    position:relative;
    margin-left:18%;
    top:-415px;
    color:#43b85c;
    font-size:20px;
}
div.quote_4 h4{
    position:relative;
    margin-left: 47%;
    top:-369px;
}
div.quote_4{
    height:100px;
}
div.quote_4 pre.au h4{
    position:relative;
    margin-left: 38%;
    top:-459px;
    font-weight: bolder;
    font-size: 18px;
}